body {
    background-image: url('https://images8.alphacoders.com/548/thumb-1920-548142.jpg');
    background-size: cover;
    margin: auto;
    font-family: Arial, sans-serif;
}

.row {
    text-align: center;
    margin: 20px 0;
}

.card {
    width: 300px;
    height: 575px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    background-image: url('https://w0.peakpx.com/wallpaper/234/392/HD-wallpaper-pokemon-pokeball-pokemon.jpg');
    background-size: cover;
    border: 3px solid #000;
    border-radius: 10px;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-details {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #000;
    border-radius: 10px;
    margin: 10px;
    height: calc(100% - 160px);
}

.card-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-details .type {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #3498db;
}

.card-details .description {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 40px;
}

.card-buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.card-button {
    padding: 8px 20px;
    margin: 0 5px;
    background-color: #3498db;
    color: #0a0a0a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #2980b9;
}
